<h1>Event Show Page </h1>

<h2> The creator is <%= @event.creator.name %> </h2>

<ul>
  <b>List of attendees</b>
  <% @event.attendees.each do |guest| %>
    <li> <%= guest.name %> | <%= guest.email %> </li>  
  <% end %>
</ul>

<% if current_user == @maker %>
  <h3>Invite</h3>
  <%= form_for(@invitation, url: attendances_path) do |f| %>
    <%= f.label :attendee__id %>
    <%= f.select(:attendee_id, options_for_select(@uninvited)) %>
    <%= f.hidden_field :attended_event_id, value: params[:id] %>
    <%= f.submit "Invite" %>
  <% end %>
<% end %>

